<strong>
  Olá, {{ username }}
</strong>
<p>
  Houve uma inscrição no Meetup. Confira os detalhes abaixo:
</p>
<p>
  <strong>Meetup:</strong> {{ name }} <br />
  <strong>Descrition:</strong>{{ description }} <br />
  <strong>Data:</strong> {{ date }} <br />
  <br />
  <strong>User subscribed:</strong>{{ user }} <br />
</p>
